.cardWrap {
}

.cardContainer {

  width: 10rem;
  height: 10rem;
  border-radius: 1.6rem;
  padding: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.cardContainer::before,
.cardContainer::after {
  content: "";

  width: 2rem;
  height: 2rem;
  border: 1px solid rgb(112, 93, 93);

  position: absolute;
  z-index: 2;

  opacity: .3;
  transition: .3s;
}

.cardContainer::before {
  top: 2rem;
  right: 2rem;

  border-bottom-width: 0;
  border-left-width: 0;
}

.cardContainer::after {
  bottom: 2rem;
  left: 2rem;

  border-top-width: 0;
  border-right-width: 0;
}

.cardContainer p {
  color: rgba(73, 65, 65, 0.6);
  font-size: 1.2rem;
  font-weight: bold;
}

.cardWrap:hover .cardContainer::before,
.cardWrap:hover .cardContainer::after {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: fit-content;
  height: 100px;
  margin-bottom: 1rem;
  border-radius: 16px;
}